.question-added-container {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-added-container h2 {
  color: #0294a2;
  font-weight: 900;
  font-size: 6vw;
}

.question-added-container a {
  text-decoration: none;
  color: #ecf8f7;
  font-weight: 500;
  width: 38vw;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 8px;
  background-color: #0294a2;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ecf8f7;
  transition: all 500ms ease;
}

.question-added-container a:hover {
  background-color: #ecf8f7;
  color: #0294a2;
  border: 1px solid #0294a2;
  transition: all 500ms ease;
}
