* {
  direction: rtl;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: Heebo;
}

body {
  margin: 0;
  background-color: #ecf8f7;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ecf8f7;
  background: #0294a2;
}

::selection {
  color: #ecf8f7;
  background: #0294a2;
}

header {
  position: absolute;
  opacity: 0;
}

h2 {
  color: #0294a2;
  font-size: 2rem;
  font-weight: 900;
  margin: -0.5rem 0 0 0;
}

.bold-and-blue {
  font-size: 1.1rem;
  font-weight: 900;
  color: #0294a2;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #0294a2;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 70%;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.nav-head {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.logo-container {
  position: absolute;
  top: 20%;
  right: 3%;
}

.nav-logo-image {
  width: 4rem;
  background: #fff;
  border-radius: 10px;
}

.nav-menu {
  flex-grow: 8;
  width: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 500ms ease;
}

.nav-links {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
  margin-top: 0.2rem;
  color: #ecf8f7;
}
.nav-links:after {
  width: 120%;
  margin-right: -10%;
  display: block;
  content: "";
  border-bottom: 1px solid #fff;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}

.nav-items i {
  padding-left: 0.4rem;
  font-size: 1.05rem;
}

.active-page:after {
  transform: scaleX(1);
}

.nav-items:hover > .nav-links:after {
  transform: scaleX(1);
}

.nav-toggle {
  opacity: 0;
}

@media screen and (max-width: 810px) {
  .nav {
    height: 4.5rem;
  }

  header {
    top: 10%;
    text-align: center;
    opacity: 1;
    color: #fff;
  }

  h1 {
    font-size: 2.6rem;
    margin: -1rem 0 0 0;
  }

  .logo-container {
    top: 8%;
    right: 98%;
    transform: translateX(100%);
  }

  .nav-menu {
    display: table;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    left: 0;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .nav-menu.active {
    top: 4.5rem;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    font-size: 1.6rem;
  }

  .nav-toggle {
    cursor: pointer;
    opacity: 1;
  }

  .nav-toggle .bar {
    display: block;
    width: 32px;
    height: 4px;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
    background: #ecf8f7;
    border-radius: 3rem;
  }

  .nav-items {
    background-color: #0294a2;
    border-bottom: 1px solid #ecf8f7;
    border-radius: 0;
    display: flex;
    justify-content: center;
  }
  .nav-items:nth-child(1) {
    border-top: 1px solid #ecf8f7;
  }

  .nav-links {
    width: 100%;
    text-align: center;
    transition: 0.2s ease;
  }
  .nav-links:after {
    border: none;
  }

  .active-page {
    background-color: #ecf8f7;
    color: #0294a2;
    border-radius: 1rem;
  }

  #mobile-menu {
    position: absolute;
    top: 12%;
    right: 3%;
    transform: translate(3%, 12%);
    z-index: 9999;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}

/* LOADER */

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  pointer-events: none;
  z-index: 999;
}

.loader {
  z-index: 999;
  border: 10px double #0294a2;
  border-top: 1px solid transparent;
  border-radius: 50%;
  width: 30vh;
  height: 30vh;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #000000af;
  transition: 500ms ease-in-out;
}

/* FOOTER */
footer {
  position: absolute;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  bottom: 0;
  font-size: 0.8rem;
}

/* POPUP */
.pop-up {
  width: fit-content;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
  border-radius: 1rem;
  background-color: #ecf8f7;
  transition: 500ms ease;
  pointer-events: all;
}

.pop-up-text {
  text-align: center;
}

.pop-up img {
  border-top: 2px solid #333;
  border-radius: 0 0 1rem 1rem;
  z-index: 999;
  width: 50vw;
  pointer-events: none;
}

@media screen and (max-width: 720px) {
  .pop-up img {
    width: 80vw;
  }
}

.add-question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 1rem;
}

.main-form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.box {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-box {
  width: 100%;
  height: 3rem;
  padding-right: 0.5rem;
  margin: 0.5rem 0 0 0;
  border: 1px solid #333;
  border-radius: 0.5rem;
  font-size: 1rem;
  caret-color: #0294a2;
  transition: border 80ms ease;
}

.text-box:focus {
  border: 2px solid #0294a2;
}

optgroup {
  color: #0294a2;
  font-weight: 900;
}
optgroup option {
  color: #333;
}

.make-it-red {
  border: 2px solid #f10000;
  transition: 200ms ease;
}

.error-place {
  color: #f10000;
  height: 0.8rem;
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 0.3rem;
  transition: 200ms ease;
}

@media screen and (max-width: 720px) {
  .main-form-container {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }
}

.scale-down {
  transform: scale(0);
  transition: transform 200ms ease;
}

.game-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-container,
#after-answer-container,
.end-game-container,
.after-regular-game-start,
.after-tournament-start{
  margin-top: 3rem;
  width: 40%;
  text-align: center;
}

#start-container {
  margin: 3rem;
  text-align: center;
}

.btn {
  color: #ecf8f7;
  background-color: #0294a2;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

#start-container a {
  color: #0294a2;
  text-decoration: none;
}

#start-container a:hover {
  border-bottom: 1px solid #0294a2;
}

#game-container .answer-btn-group {
  display: flex;
  flex-direction: column;
}

#game-container p {
  text-align: start;
  margin: 0;
}

.answer-btn {
  height: 2rem;
  font-size: 0.9rem;
  color: #111;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  text-align: start;
  padding: 8px 10px 32px 10px;
  cursor: pointer;
  transition: 200ms all ease-in-out;
}

.answer-btn:active {
  transform: scale(98%);
}

.game-page-container {
  transition: translate 2s ease;
}

.game-footer-top,
.game-footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 8px;
}

.after-answer-text {
  font-size: 1.4rem;
}

.smaller {
  font-size: 0.8rem;
}


.make-it-green {
  border: 2px solid #00c200;
  transform: scale(1.02);
  transition: 200ms ease;
}

.make-it-red {
  border: 2px solid #f10000;
  transform: scale(1.02);
  transition: 200ms ease;
}

.disable-pointer-events {
  pointer-events: none;
}

.game-btns {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}

.question-added-container {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-added-container h2 {
  color: #0294a2;
  font-weight: 900;
  font-size: 6vw;
}

.question-added-container a {
  text-decoration: none;
  color: #ecf8f7;
  font-weight: 500;
  width: 38vw;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 8px;
  background-color: #0294a2;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ecf8f7;
  transition: all 500ms ease;
}

.question-added-container a:hover {
  background-color: #ecf8f7;
  color: #0294a2;
  border: 1px solid #0294a2;
  transition: all 500ms ease;
}
