.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
    pointer-events: none;
    z-index: 999;

    .loader {
        z-index: 999;
        border: 10px double #0294a2;
        border-top: 1px solid transparent;
        border-radius: 50%;
        width: 30vh;
        height: 30vh;
        animation: spin 1.3s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .dark-screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #000000af;
        transition: 500ms ease-in-out;
    }
}