@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

.nav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  /* z-index: 10; */
  background: #0294a2;


  .logo-container {
    position: absolute;
    top: 20%;
    right: 3%;

    .nav-logo-image {
      width: 4rem;
      max-width: none;
      background: #fff;
      border-radius: 10px;
    }
  }

  .nav-head {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    max-width: 70%;



    .nav-menu {
      flex-grow: 8;
      width: 0;
      display: flex;
      margin: 1rem;
      justify-content: space-between;
      list-style: none;
      padding: 0;

      li.nav-items {
        display: flex;
        justify-content: space-between;
        padding: 0.4rem 1rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: 500ms ease;

        i {
          padding-left: 0.4rem;
          font-size: 1.05rem;
        }

        &:hover>.nav-links:after {
          transform: scaleX(1);
        }


        .nav-links {
          font-size: 1.4rem;
          font-weight: 500;
          text-decoration: none;
          padding: 0.5rem;
          margin-top: 0.2rem;
          color: #ecf8f7;

          &:after {
            width: 120%;
            margin-right: -10%;
            display: block;
            content: "";
            border-bottom: 1px solid #fff;
            transform: scaleX(0);
            transition: transform 150ms ease-in-out;

          }

          &.active-page:after {
            transform: scaleX(1);
          }

        }

      }

    }
  }



}

@media screen and (max-width: 810px) {
  .nav {
    height: 4.5rem;

    .logo-container {
      top: 8%;
      right: 98%;
      transform: translateX(100%);
    }

    .nav-container {
      ul.nav-menu {
        display: table;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        left: 0;
        transition: all 0.5s ease;
        z-index: -1;

        &.mobile-active {
          top: 4.5rem;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 99;
          font-size: 1.6rem;
        }

        li.nav-items {
          background-color: #0294a2;
          border-bottom: 1px solid #ecf8f7;
          border-radius: 0;
          display: flex;
          justify-content: center;

          &:nth-child(1) {
            border-top: 1px solid #ecf8f7;
          }

          a.nav-links {
            width: 100%;
            text-align: center;
            transition: 0.2s ease;

            &:after {
              border: none;
            }

            &.active-page {
              background-color: #ecf8f7;
              color: #0294a2;
              border-radius: 1rem;

              &:after {
                transform: scaleX(1);
              }
            }
          }



        }
      }
    }

  }




  #mobile-menu-hamburger-btn {
    position: absolute;
    top: 12%;
    right: 3%;
    transform: translate(3%, 12%);
    z-index: 9999;

    cursor: pointer;
    opacity: 1;

    .bar {
      display: block;
      width: 32px;
      height: 4px;
      margin: 7px auto;
      transition: all 0.3s ease-in-out;
      background: #ecf8f7;
      border-radius: 3rem;
    }


    &.is-active {

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
      }

      .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
      }
    }


  }


}