<!DOCTYPE html>
<html dir="rtl" lang="he-IL">
  <head>
    <title>{{site.title}}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:image"
      itemprop="image"
      content="https://raw.githubusercontent.com/shvushon/hahamim/master/images/preview.jpg"
    />

    <link rel="icon" href="images/black.png" />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet" />
  </head>

  <body>
    <nav class="nav">
      <div class="logo-container">
        <a href="index.html">
          <img
            src="images/white.png"
            style="background-color: transparent"
            class="nav-logo-image"
            alt=""
          />
        </a>
      </div>
      <header>
        <h1>{{site.title}}</h1>
        <h2 class="nav-head">{{site.subtitle}}</h2>
      </header>
      <div class="nav-container">
        <div class="nav-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>

        <ul class="nav-menu">
          <li class="nav-items">
            <a href="index.html" class="nav-links active-page">
              <i class="fa fa-plane nav-icons"></i>שחק</a
            >
          </li>
          <li class="nav-items">
            <a href="add-question.html" class="nav-links" disabled>
              <i class="fa fa-plus nav-icons"></i>הוסף שאלה</a
            >
          </li>
          <li class="nav-items">
            <a href="records.html" class="nav-links">
              <i class="fa fa-line-chart nav-icons"></i>שיאים</a
            >
          </li>
          <li class="nav-items">
            <a href="about.html" class="nav-links"> <i class="fa fa-beer nav-icons"></i>אודות</a>
          </li>
        </ul>
      </div>
    </nav>

    {{ content }}

    <script src="js/utils/navbar.js"></script>
    <div class="loader-container">
      <div class="loader" id="loader" hidden></div>
    </div>
    <div class="dark-screen" id="dark-screen" hidden></div>
    <footer>© עמותת שבושון</footer>
  </body>
</html>
